target/
!.mvn/wrapper/maven-wrapper.jar
DataStructures.iml
bin
*.class

### Eclipse & STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.surefire*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.settings.xml

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Misc ###
*~
*.bak
/temp/